<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        font-family: 'gilroy';
    }
</style>
<body>

    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptas. Eligendi doloremque dignissimos possimus, aliquam repudiandae et iure! Sunt, libero.</h1>
    
</body>
</html>